feature=.label; depends=label; method=LabelDirect; slot=1
feature=F_C1; depends=C1; method=Direct; slot=3
feature=F_banner_pos; depends=banner_pos; method=Direct; slot=4
feature=F_site_id; depends=site_id; method=Direct; slot=5
feature=F_site_domain; depends=site_domain; method=Direct; slot=6
feature=F_app_id; depends=app_id; method=Direct; slot=7
feature=F_app_domain; depends=app_domain; method=Direct; slot=8
feature=F_device_id; depends=device_id; method=Direct; slot=9
feature=F_device_ip; depends=device_ip; method=Direct; slot=10
feature=F_device_model; depends=device_model; method=Direct; slot=11
feature=F_device_type; depends=device_type; method=Direct; slot=12
feature=F_device_conn_type; depends=device_conn_type; method=Direct; slot=13
feature=F_C14; depends=C14; method=Direct; slot=14
feature=F_C15; depends=C15; method=Direct; slot=15
feature=F_C16; depends=C16; method=Direct; slot=16
feature=F_C17; depends=C17; method=Direct; slot=17
feature=F_C18; depends=C18; method=Direct; slot=18
feature=F_C19; depends=C19; method=Direct; slot=19
feature=F_C20; depends=C20; method=Direct; slot=20
feature=F_C21; depends=C21; method=Direct; slot=21
feature=F_app_category; depends=app_category; method=Direct; slot=22
feature=F_site_category; depends=site_category; method=Direct; slot=23

